BOT_TOKEN=

RUSADA_EMAIL=
RUSADA_PASSWORD=
RUSADA_URL=https://course.rusada.ru
DEFAULT_COURSE_ID=53

HEADLESS=true
LOG_LEVEL=INFO

RUSADA_DB_HOST=
RUSADA_DB_NAME=
RUSADA_DB_USER=
RUSADA_DB_PASSWORD=
RUSADA_DB_SSLMODE=require

HEALTH_PORT=8000

ALLOWED_USERS=
